
// 适配Iphone X
.fix-iphonex-bottom {
  display: block;
  padding-bottom: 34px;
}

/* 底部导航栏 */
.v-tabbar{
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 640px;
  height: 50px;
  border-top: 1px solid #ddd;
  z-index: 200;
  background: #f8f8f8;
  justify-content: space-between;
  text-align: center;
}